#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="adminForm" method="post", action = "/adminpanel/">

    #if($authenticationSucceeded)
    <body>
    ##        #if($userInvalid)
    ##            <p>$msg.get("ADMIN_USER_NOT_FOUND")</p>
    ##        #end
        <h3 class="byline">User management</h3>
        <p class="italicp">Manage user information</p><br>

        <table style='white-space: nowrap', id="div1">
            <tr>
                <th>Username</th>
                <th>E-mail</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Country</th>
                <th>City</th>
                <th>Postal code</th>
                <th>Street</th>
                <th>Number</th>
                <th>Operations</th>
            </tr>

            #foreach ($manager in $allUserManagers)
                <tr>
                    <td>$manager.getName()</td>
                    <td>$manager.getEmail()</td>
                    <td>$manager.getDateOfBirth()</td>
                    <td>$manager.getAge()</td>
                    <td>$manager.getAddressDocManager().getCountry()</td>
                    <td>$manager.getAddressDocManager().getCity()</td>
                    <td>$manager.getAddressDocManager().getPostalCode()</td>
                    <td>$manager.getAddressDocManager().getStreet()</td>
                    <td>$manager.getAddressDocManager().getNumber()</td>
                    <td>
                        <input type="submit" name="$manager.getName()" value="Modify"></input>
                    </td>
                </tr>
            #end
        </table>
    </body>
    #else
        <script language="javascript">
            window.location.href = "http://localhost:4567/login/"
        </script>
    #end
</form>
#end