#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="adminForm" method="post", action = "/delete/">
    #if(!$authenticationSucceeded)
        <script language="javascript">
            window.location.href = "http://localhost:4567/login/"
        </script>
    #end
    #if(!$userIsAdmin)
        <script language="javascript">
            window.location.href = "http://localhost:4567/index/"
        </script>
    #end
    <style>
        form{
            position: relative;
            left: 200px;
            top: 10px;
            max-width: 500px;
            margin: 30px;
        }
        table, th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
##    Check if the user is logged in, send to the login page otherwise.
        <body>
        <h3 class="byline">Are you sure you want to delete: $modifyUserManager.getName()</h3>
        <p class="italicp">User information</p>
        <table style='white-space: nowrap', id="div1">
            <tr>
                <th>Username</th>
                <th>E-mail</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Country</th>
                <th>City</th>
                <th>Postal code</th>
                <th>Street</th>
                <th>Number</th>
            </tr>
            <tr>
                <td>$modifyUserManager.getName()</td>
                <td>$modifyUserManager.getEmail()</td>
                <td>$modifyUserManager.getDateOfBirth()</td>
                <td>$modifyUserManager.getAge()</td>
                <td>$modifyUserManager.getAddressDocManager().getCountry()</td>
                <td>$modifyUserManager.getAddressDocManager().getCity()</td>
                <td>$modifyUserManager.getAddressDocManager().getPostalCode()</td>
                <td>$modifyUserManager.getAddressDocManager().getStreet()</td>
                <td>$modifyUserManager.getAddressDocManager().getNumber()</td>
            </tr>
        </table>
        <br>
        <input type="submit" name="delete" value="yes">
        <input type="submit" name="dont delete" value="no">
        </body>
</form>
#end