#parse("sources/HTML/layout/layout.vm")
#@mainLayout()

<form id="statForm" method="post", action = "/stat/">
    #if(!$authenticationSucceeded)
        <script language="javascript">
            window.location.href = "http://localhost:4567/login/"
        </script>
    #end
    #if(!$userIsAdmin)
        <script language="javascript">
            window.location.href = "http://localhost:4567/index/"
        </script>
    #end
    <h2 class="sidebar-title">Statistics</h2>
</form>
#end