#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<html>
    #if(!$authenticationSucceeded)
    <script language="javascript">
        window.location.href = "http://localhost:4567/login/"
    </script>
    #end
    #if(!$userIsAdmin)
    <script language="javascript">
        window.location.href = "http://localhost:4567/index/"
    </script>
    #end
<div align="center">
    <br>
    <h3><a href="/gs">Gamestock</a></h3>
</div>
<div align="center">
    <br>
    <br>
    <h3><a href="/ppd">Purchases per day</a></h3>
</div>
<div align="center">
    <br>
    <br>
    <h3><a href="/cai">Customer age info</a></h3>
    <br>
</div>
</html>
#end