#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<html>
<div align="center">
    <br>
    <h3><a href="/gs">Gamestock</a></h3>
</div>
<div align="center">
    <br>
    <br>
    <h3><a href="/ppd">Purchases per day</a></h3>
</div>
<div align="center">
    <br>
    <br>
    <h3><a href="/cai">Customer age info</a></h3>
    <br>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.js"></script>
</html>
#end