#parse("sources/HTML/layout/layout.vm")
#@mainLayout()

<body>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    #foreach($manager in $games)
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <div class="col-md-8 col-md-6">


                                    <h2><a href="/single-page/$manager.getId()">$manager.getName()</a></h2>
                                    <h4>$manager.getPlatform()</h4>
                                    <p>$manager.getGenre()</p>
                                    <div class="product-carousel-price">
                                        <ins>$manager.getPrice()</ins>
                                        <p></p>
                                    </div>

                                    <form id="add_to_cart" method="post">
                                    <div class="product-option-shop">
                                        #if($authenticationSucceeded)
                                            <input class="add_to_cart_button" type="submit" name="$manager.getId()" href="http://localhost:4567/index/" value="Add to cart">
                                        #else
                                            <a class="add_to_cart_button" href="http://localhost:4567/login/">Add to cart</a>
                                        #end
                                    </div>
                                    </form>
                            </div>
                        </div>
                    #end

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>


</body>
#end