#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="registrationForm" method="post", action = "/registration/">
    #if($userExists)
        <p class="bad notification">$msg.get("REGISTRATION_USER_EXISTS")</p>
    #elseif($userInvalid)
        <p class="bad notification">$msg.get("REGISTRATION_USERNAME_FAILED")</p>
    #elseif($passwordInvalid)
        <p class="bad notification">$msg.get("REGISTRATION_PASSWORD_FAILED")</p>
    #elseif($dobInvalid)
        <p class="bad notification">$msg.get("REGISTRATION_DOB_FAILED")</p>
    #elseif($emailInvalid)
        <p class="bad notification">$msg.get("REGISTRATION_EMAIL_FAILED")</p>
    #elseif($countryInvalid)
        <p class="bad notification">$msg.get("REGISTRATION_COUNTRY_FAILED")</p>
    #elseif($postalInvalid)
        <p class="bad notification">$msg.get("REGISTRATION_POSTAl_FAILED")</p>
    #elseif($cityInvalid)
        <p class="bad notification">$msg.get("REGISTRATION_CITY_FAILED")</p>
    #elseif($streetInvalid)
        <p class="bad notification">$msg.get("REGISTRATION_STREET_FAILED")</p>
    #elseif($streetNumberInvalid)
        <p class="bad notification">$msg.get("REGISTRATION_STREETNUMBER_FAILED")</p>
    #elseif($authenticationSucceeded)
        <p class="good notification">$msg.get("LOGIN_AUTH_SUCCEEDED", $currentUser)</p>
    #elseif($loggedOut)
        <p class="notification">$msg.get("LOGIN_LOGGED_OUT")</p>
    #end

    <h1>$msg.get("REGISTRATION_HEADING")</h1>
##    <p>$msg.get("LOGIN_INSTRUCTIONS", $WebPath.getINDEX())</p>
    <label>$msg.get("REGISTRATION_LABEL_USERNAME")</label>
    <input type="text" name="username" placeholder="$msg.get("REGISTRATION_LABEL_USERNAME")" value="" required maxlength="14">
    <label>$msg.get("REGISTRATION_LABEL_PASSWORD")</label>
    <input type="password" name="password" placeholder="$msg.get("REGISTRATION_LABEL_PASSWORD")" value="" required maxlength="14">
    <label>$msg.get("REGISTRATION_LABEL_AGE")</label>
    <input type="date" name="doB" placeholder="$msg.get("REGISTRATION_LABEL_AGE")" value="" required>
    <label>$msg.get("REGISTRATION_LABEL_EMAIL")</label>
    <input type="email" name="email" placeholder="$msg.get("REGISTRATION_LABEL_EMAIL")" value="" required>
    <label>$msg.get("REGISTRATION_LABEL_COUNTRY")</label>
    <input type="text" name="country" placeholder="$msg.get("REGISTRATION_LABEL_COUNTRY")" value="" required>
    <label>$msg.get("REGISTRATION_LABEL_POSTALCODE")</label>
    <input type="text" name="postalcode" placeholder="$msg.get("REGISTRATION_LABEL_POSTALCODE")" value="" required>
    <label>$msg.get("REGISTRATION_LABEL_CITY")</label>
    <input type="text" name="city" placeholder="$msg.get("REGISTRATION_LABEL_CITY")" value="" required>
    <label>$msg.get("REGISTRATION_LABEL_STREET")</label>
    <input type="text" name="street" placeholder="$msg.get("REGISTRATION_LABEL_STREET")" value="" required>
    <label>$msg.get("REGISTRATION_LABEL_NUMBER")</label>
    <input type="text" name="number" placeholder="$msg.get("REGISTRATION_LABEL_NUMBER")" value="" required>

    #if($loginRedirect)
        <input type="hidden" name="loginRedirect" value="$loginRedirect" >
    #end
    <input type="submit" value="$msg.get("REGISTRATION_BUTTON_REGISTER")">
</form>
#end
