#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="accountForm" method="post" action = "/myaccount/">
##    Check if the user is logged in, send to the login page otherwise.
    #if(!$authenticationSucceeded)
        <script language="javascript">
            window.location.href = "http://localhost:4567/login/"
        </script>
    #end
    <style>
        table, td, th {
            border: 1px white;
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
            width: 300px;
        }
    </style>

    <br>
    <table align="center">
        <tr>
            <th>Username:</th>
            <td>$userDocumentManager.getName()</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>$userDocumentManager.getEmail()</td>
        </tr>
        <tr>
            <th>Date of Birth:</th>
            <td>$userDocumentManager.getDateOfBirth()</td>
        </tr>
        <tr>
            <th>Age:</th>
            <td>$userDocumentManager.getAge()</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>$userDocumentManager.getAddressDocManager().getCountry()</td>
        </tr>
        <tr>
            <th></th>
            <td>$userDocumentManager.getAddressDocManager().getCity()</td>
        </tr>
        <tr>
            <th></th>
            <td>$userDocumentManager.getAddressDocManager().getStreet()</td>
        </tr>
        <tr>
            <th></th>
            <td>$userDocumentManager.getAddressDocManager().getNumber()</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <hr>
    <h2 align="center">History of purchased items</h2>
    <br>
    <br>

    ##<div class="container">

    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
            style="width:50%";
        }
    </style>
        <table align="center" >
            <tr>
              ##  <th>Name</th>
                <th>Platform</th>
                <th>Price</th>
                <th>Date.</th>
            </tr>
        </table>
             #foreach ($manager in $gameManagers)
                <tr>
                    <td><h4><a href="/single-page/$manager.getId()">$manager.getName()</a></h4></td>
                    <td>$manager.getPlatform()</td>
                    <td>$manager.getPrice()</td>
                </tr>
            #end


      ##  </body>
       ## </div>

    <br>
    <br>
    <br>



</form>
#end