#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="accountForm" method="post" action = "/myaccount/">
##    Check if the user is logged in, send to the login page otherwise.
    #if(!$authenticationSucceeded)
        <script language="javascript">
            window.location.href = "http://localhost:4567/login/"
        </script>
    #end
    <style>
        form {
            position: relative;
            left: 200px;
            top: 10px;
            max-width: 500px;
            margin: 30px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <h2 class="sidebar-title">Your account</h2>

    <table style='white-space: nowrap' id="div1">
        <tr>
            <th>Username:</th>
            <td>$userDocumentManager.getName()</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>$userDocumentManager.getEmail()</td>
        </tr>
        <tr>
            <th>Date of Birth:</th>
            <td>$userDocumentManager.getDateOfBirth()</td>
        </tr>
        <tr>
            <th>Age:</th>
            <td>$userDocumentManager.getAge()</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>$userDocumentManager.getAddressDocManager().getCountry()</td>
        </tr>
        <tr>
            <th></th>
            <td>$userDocumentManager.getAddressDocManager().getCity()</td>
        </tr>
        <tr>
            <th></th>
            <td>$userDocumentManager.getAddressDocManager().getStreet()</td>
        </tr>
        <tr>
            <th></th>
            <td>$userDocumentManager.getAddressDocManager().getNumber()</td>
        </tr>
    </table>
    <br>
    <td class="actions" colspan="6">
        <p> Do yo want to change your password?<a href="$WebPath.getCHANGEPASSWORD()"> click here</a></p>    </td>
    <br>

</form>
#end