#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
##<form id="loginForm" method="post" action = "/changepassword/">
##    #if(!$authenticationSucceeded)
##        <script language="javascript">
##            window.location.href = "http://localhost:4567/login/"
##        </script>
##    #elseif($authenticationFailed)
##            <p> The login information you supplied was incorrect.</p>
##    #elseif($passwordInvalid)
##        <p>The password information you supplied was incorrect. The length has to be between 4 and 14.</p>
##    #end
##    <br>
##    <label>Username</label>
##    <input type="text"
##           name="username"
##           placeholder="Username"
##           value="" required>
##
##    <label>OldPassword</label>
##    <input type="password"
##           name="oldpassword"
##           placeholder="oldPassword"
##           value="" required>
##
##    <label>New Password</label>
##    <input type="password"
##           name="password"
##           placeholder="Password"
##           value="" required maxlength="14">
##
##    <input type="submit" value="validate">
##
##
##
#####if($loginRedirect)
####    <input type="hidden" name="loginRedirect" value="$loginRedirect" >
#####end
##
##
##</form>
###end

<form id="loginForm" method="post">
##  check is the provided information corresponds with the information in the database
    #if($authenticationFailed)
        <p class="bad notification">The login information you supplied was incorrect.</p>
    #end
    <h1>Login</h1>
    <p>Please enter your username and password</p>
    <label>Username</label>
    <input type="text" name="username" placeholder="Username" value="" required>
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" value="" required>
    <input type="submit" value="Log in">
    <p> forgot your password?<a href="$WebPath.getFORGOTPASSWORD()"> click here</a></p>
    <p> new user? create new<a href="$WebPath.getREGISTRATION()"> account</a></p>
</form>
#end