#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="loginForm" method="post" action = "/changepassword/">
    #if(!$authenticationSucceeded)
        <script language="javascript">
            window.location.href = "http://localhost:4567/login/"
        </script>
    #elseif($authenticationFailed)
            <p class="bad notification">The login information you supplied was incorrect.</p>
    #elseif($passwordInvalid)
        <p class="bad notification">The password information you supplied was incorrect. The length has to be between 4 and 14.</p>
    #end
    <br>
    <label>Username</label>
    <input type="text" name="username" placeholder="Username" value="" required>
    <label>OldPassword</label>
    <input type="password" name="password" placeholder="Password" value="" required>

    <label>New Password</label>
    <input type="password" name="password" placeholder="Password" value="" required maxlength="14">
    <input type="submit" value="Validation">    <input type="submit" value="Cancel">



###if($loginRedirect)
##    <input type="hidden" name="loginRedirect" value="$loginRedirect" >
###end


</form>
#end