#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="loginForm" method="post">
    #if($emailAuthenticationFailed)
        <p class="bad notification">Email adress doesn't excist.</p>

    #end
        <h1>forgotten your password?</h1>

        <p>Please enter your email adress to reset your password. </p>


        <label>email adress</label>
        <input type="email"
               name="email"
               placeholder="email "
               value="" required>

        <input type="submit" value="send" href="$WebPath.getFORGOTPASSWORD()" >

</form>
#end