#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="forgotpasswordForm" method="post" action="/forgotpassword/" xmlns="http://www.w3.org/1999/html">


<body>

<form id="loginForm" method="post">

</form>

</body>

    <form id="loginForm" method="post">

        <h1>forgotten your password?</h1>
        <p>Please enter your email adress to reset your password. </p>
        <label>email adress</label>
        <input type="text" name="username" placeholder="Username" value="" required>
        <input type="submit" value="send">

     ##   ###if($authenticationFailed)
     ##       <p class="bad notification">The emailadress doesn't excist</p>
     ##   #else($loggedOut)
     ##       <p class="notification">You have been logged out.</p>
     ##   #end
##
    </form>


#end