#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="loginForm" method="post" action = "/forgotpassword/">
     #if($emailExcists)
        <p>  Email excists.</p>
     #elseif($emailDoesntExcists)
         <p> The email that you supplied doesn't excist in our database.</p>

     #end
        <h1>forgotten your password?</h1>

        <p>Please enter your email adress to reset your password. </p>

        <label>email adress</label>
        <input type="text"
               name="email"
               value="" required>
        <input type="submit" value="send" >
    ###if($loginRedirect)
    ##    <input type="hidden" name="loginRedirect" value="$loginRedirect" >
    ###end


</form>
#end
