#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="wishlistForm" method="post" action = "/history/">
    <div class="container">

        #if(!$authenticationSucceeded)
            <script language="javascript">
                window.location.href = "http://localhost:4567/login/"
            </script>
        #end
        <style>
            form {
                position: relative;
                left: 200px;
                top: 10px;
                max-width: 500px;
                margin: 30px;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>

        <br></br>

        <br></br>

            #if($viewList)
            <table style='white-space: nowrap' id="div1">
                <tr>
                    <th>Name</th>
                    <th>Items</th>
                    <th>Action</th>
                </tr>
                #foreach ($pl in $publicPlayers)
                    <tr>
                        <td>$pl.getName()</td>
                        <td>$pl.getWishList().size()</td>
                        <td><input type="submit" name="$pl.getName()" value="view"></input></td>
                    </tr>
                #end
            </table>
            #else
                #if(!$view)
                <h2 class="sidebar-title">My history list</h2>

                #end

            <table style='white-space: nowrap' id="div1">
                <tr>

                    <th>Platform</th>
                    <th>Price</th>
                    #if(!$view)
                        <th>Action</th>
                    #end
                </tr>
                #foreach ($manager in $gameManagers)
                    <tr>
                        ##<td><h4><a href="/single-page/$manager.getId()">$manager.getName()</a></h4></td>
                        <td>$manager.getPlatform()</td>
                        <td>$manager.getPrice()</td>
                        #if(!$view)
                            <td><input type="submit" name="$manager.getId()" value="Remove"></input></td>
                        #end
                    </tr>
                #end
            </table>
            #end
        </body>
        <div>
</form>
#end