#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="history-purchased" method="post" action = "/history-purchased/">
    <div class="container">

        #if(!$authenticationSucceeded)
            <script language="javascript">
                window.location.href = "http://localhost:4567/login/"
            </script>
        #end
        <style>
            form {
                position: relative;
                left: 200px;
                top: 100px;
                max-width: 500px;
                margin: 30px;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        <body>


        <table style='white-space: nowrap' id="div1">
            <tr>
                <th>Name</th>
                <th>Platform</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
            #foreach ($manager in $gameManagers)
                <tr>
                    <td><h4><a href="/single-page/$manager.getId()">$manager.getName()</a></h4></td>
                    <td>$manager.getPlatform()</td>
                    <td>$manager.getPrice()</td>
                </tr>
            #end
        </table>

        </body>
        <div>
</form>
#end