#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="wishlistForm" method="post" action = "/wishlist/">
    <div class="container">

    #if(!$authenticationSucceeded)
        <script language="javascript">
            window.location.href = "http://localhost:4567/login/"
        </script>
    #end
        <style>
            form {
                position: relative;
                left: 200px;
                top: 10px;
                max-width: 500px;
                margin: 30px;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    <body>
        #if($userInfo.wishListIsPrivate())
            <input type="submit" value="Set wishlist public">
        #else
            <input type="submit" value="Set wishlist private">
        #end
    <br></br>

        <table style='white-space: nowrap' id="div1">
            <tr>
                <th>Name</th>
                <th>Platform</th>
                <th>Price</th>
            </tr>
            #foreach ($manager in $gameManagers)
            <tr>
                <td><h4><a href="/single-page/$manager.getId()">$manager.getName()</a></h4></td>
                <td>$manager.getPlatform()</td>
                <td>$manager.getPrice()</td>
            </tr>
            #end
        </table>

    </body>
    <div>
</form>
#end