#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="wishlistForm" method="post" action = "/wishlist/">
    <div class="container">

    #if(!$authenticationSucceeded)
        <script language="javascript">
            window.location.href = "http://localhost:4567/login/"
        </script>
    #end
    <body>
        #if($userInfo.wishListIsPrivate())
            <p class="bylineSmall">Your wishlist is private</p>
            <input type="submit" value="Set wishlist public">
        #else
            <p class="bylineSmall">Your wishlist is public</p>
            <input type="submit" value="Set wishlist private">
        #end
    <br></br>
    <div class="single-shop-product">
        <div class="col-md-3 col-md-6">
            #foreach ($manager in $gameManagers)
                <h2><a href="/single-page/$manager.getId()">$manager.getName()</a></h2>
            #end
        <div>
    <div>
    </body>

    <div>
</form>
#end