#* @implicitly included *#
#* @vtlvariable name="WebPath" type="viewutil.Path.Web" *#
#* @vtlvariable name="users" type="java.lang.Iterable<user.User>" *#
#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="currentEmail" type="java.lang.String" *#
#* @vtlvariable name="loggedOut" type="java.lang.String" *#
#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#
#* @vtlvariable name="authenticationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="userIsAdmin" type="java.lang.String" *#
#* @vtlvariable name="loginRedirect" type="java.lang.String" *#
#* @vtlvariable name="game" type="model.collection.GameCollectionManager" *#
#* @vtlvariable name="checkedUserDocument" type="model.document.UserDocumentManager" *#
#* @vtlvariable name="allUsers" type="java.util.ArrayList" *#
#* @vtlvariable name="allUserManagers" type="java.util.ArrayList<model.document.UserDocumentManager>" *#
#* @vtlvariable name="userInfo" type="model.document.UserDocumentManager" *#
#* @vtlvariable name="cartGamesInfo" type="java.util.ArrayList<model.document.GameDocumentManager>" *#
#* @vtlvariable name="gameManagers" type="java.util.ArrayList<model.document.GameDocumentManager>" *#
#* @vtlvariable name="modifyUserManager" type="model.document.UserDocumentManager" *#
#* @vtlvariable name="games" type="java.util.ArrayList<model.document.GameDocumentManager>" *#
#* @vtlvariable name="currentGame" type="model.document.GameDocumentManager" *#
#* @vtlvariable name="userDocumentManager" type="model.document.UserDocumentManager" *#
#* @vtlvariable name="cartManager" type="model.document.CartListDocManager" *#
#* @vtlvariable name="publicPlayers" type="java.util.ArrayList<model.document.UserDocumentManager>" *#
#* @vtlvariable name="hisManagers" type="java.util.ArrayList<model.document.HistoryDocumentManager>" *#
#* @vtlvariable name="pages" type="java.util.ArrayList<java.lang.Integer>" *#
#* @vtlvariable name="next" type="java.lang.Integer" *#
#* @vtlvariable name="prev" type="java.lang.Integer" *#
#* @vtlvariable name="allCounts" type="java.util.ArrayList" *#
#* @vtlvariable name="allDates" type="java.util.ArrayList" *#




