#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="cartForm" method="post" action = "/cart/">

#if(!$authenticationSucceeded)
<script language="javascript">
    window.location.href = "http://localhost:4567/login/"
</script>
#end

<style>
    form {
        position: relative;
        left: 200px;
        top: 10px;
        max-width: 500px;
        margin: 30px;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<body>
    <h2 class="sidebar-title">Cart items</h2>
    #if ($outOfStock)
        <p>We can't deliver $outOfStockItem.getName(), there are $outOfStockItem.getAmountInStock() in stock.</p>
    #end
    <form method="post" action="#">
        <table cellspacing="0" class="shop_table cart">
            <thead>
                <tr>
                    <th>Remove product</th>
                    <th>Product</th>
                    <th>Platform</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            #foreach($game in $cartGamesInfo)
                <tr>
                    <td>
                        <input type="submit" name="$game.getId()" value="Remove"></input>
                    </td>
                    <td>$game.getName()</td>
                    <td>$game.getPlatform()</td>
                    <td>$$game.getPrice()</td>
                    <td>$userDocumentManager.getGameAmount($game.getId())</td>
                    <td>$$userDocumentManager.getTotalGamePrice($game.getId())</td>
                </tr>
            #end
                <tr>
                    <td class="actions" colspan="6">
                        <input type="submit" value="Proceed to Checkout" name="checkout" class="checkout-button button alt wc-forward">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</form>
#end