#parse("sources/HTML/layout/layout.vm")
#@mainLayout()
<form id="accountForm" method="post" action = "/myaccount/">
#if($authenticationSucceeded)
    <h1>Thank you for buying this product:)</h1>
   ## <a>$userInfo.getName()</a>
    <br>
    <br>
    <a class="add_to_cart_button" href="$WebPath.getCART()">Return to cart</a>
    <br
    <br>

#else
<script language="javascript">
    window.location.href = "http://localhost:4567/login/"
</script>

#end

#end

