#parse("sources/HTML/layout/layout.vm")
#@mainLayout()

<form id="purchaseForm" method="post" action = "/purchaseSuccessful/">
    #if(!$authenticationSucceeded)
        <script language="javascript">
            window.location.href = "http://localhost:4567/login/"
        </script>
    #end
    <style>
        form {
            position: relative;
            left: 200px;
            top: 10px;
            max-width: 500px;
            margin: 30px;
        }
    </style>

    <body>
    #if ($cartGamesInfo.size() == 1)
        <h3>Thank you for buying this product:</h3>
    #else
        <h3>Thank you for buying these products:</h3>
    #end
    <table style='white-space: nowrap' id="div1">
        <tr>
            <th>Name</th>
            <th>Platform</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total price</th>
        </tr>
        #foreach ($manager in $hisManagers)
            <tr>
                <td><h4><a href="/single-page/$manager.getId()">$manager.getGameManager().getName()</a></h4></td>
                <td>$manager.getGameManager().getPlatform()</td>
                <td>$$manager.getGameManager().getPrice()</td>
                <td>$manager.getAmount()</td>
                <td>$$manager.getPrice()</td>
            </tr>
        #end
    </table>

    <br></br>
    <a class="add_to_cart_button" href="$WebPath.getCART()">Return to cart</a>
    </body>

</form>
#end

